.module_list_label {
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}

.module_list_box {
    margin-left: 6px;
    margin-right: 6px;
    background-color: @window_bg_color;
}

.module_list_item {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
}
