.zoom-box, .zoom-reset-button, .osd-label-box {
    border-radius: 7px;
}

.zoom-button {
    background-color: transparent;
}

.zoom-button:hover, .zoom-reset-button:hover {
    background-color: #202020;
}

.osd-box {
    margin-top: 8px;
    margin-right: 8px;
}

.osd {
    opacity: 50;
}

.osd-label-box {
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
}
